<h1> <i class="far fa-eye"></i> Ver Disponibilidad</h1>
<table datatable class="table table-striped table-responsive-md btn-table">
  <thead>
  <tr>
     <td>Fecha</td>
 <td>Dia</td>
 <td>Nombre_dia</td>
 <td>Laboratorio</td>
 <td>Descripcion</td>
 <td>Responsable</td>

    <td >Acciones</td>
  </tr>
  </thead>

  <tbody>
     
           <tr *ngFor="let disponibilidad of disponibilidad">
<td>{{ disponibilidad.fecha}}</td>
<td>{{ disponibilidad.dia}}</td>
<td>{{ disponibilidad.nombre_dia}}</td>
<td>{{ disponibilidad.laboratorio}}</td>
<td>{{ disponibilidad.descripcion}}</td>
<td>{{ disponibilidad.responsable}}</td>
<td><a [routerLink]="['edit', disponibilidad._id]" class="btn btn-primary"><i class="far fa-edit"></i></a>&nbsp;&nbsp;<a (click) = "deleteDisponibilidad(disponibilidad._id)" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
         
      </tr>
  </tbody>
</table>
