<h1> <i class="far fa-eye"></i> Ver Sede</h1>
<table datatable class="table table-striped table-responsive-md btn-table">
  <thead>
  <tr>
     <td>Nombre</td>
 <td>Descripcion</td>
 <td>Direccion</td>

    <td >Acciones</td>
  </tr>
  </thead>

  <tbody>
     
           <tr *ngFor="let sede of sede">
<td>{{ sede.nombre}}</td>
<td>{{ sede.descripcion}}</td>
<td>{{ sede.direccion}}</td>
<td><a [routerLink]="['edit', sede._id]" class="btn btn-primary"><i class="far fa-edit"></i></a>&nbsp;&nbsp;<a (click) = "deleteSede(sede._id)" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
         
      </tr>
  </tbody>
</table>
