<h1> <i class="far fa-edit"></i> Reservar Laboratorio</h1>
<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
     <div class="form-group">
<label class="col-md-4">Fecha</label>
<input type="datetime-local" class="form-control" formControlName="fecha" #fecha [(ngModel)] = "disponibilidad.fecha" disabled/>
</div>
<div *ngIf="angForm.controls['fecha'].invalid && (angForm.controls['fecha'].dirty || angForm.controls['fecha'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['fecha'].errors.required">
Fecha es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Dia</label>
<input [value]="disponibilidad.dia" type="number" class="form-control" formControlName="dia" #dia [(ngModel)] = "disponibilidad.dia" disabled/>
</div>
<div *ngIf="angForm.controls['dia'].invalid && (angForm.controls['dia'].dirty || angForm.controls['dia'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['dia'].errors.required">
Dia es requerido.
</div>
</div>
<div class="form-group">
  <label class="col-md-4">Nombre dia</label>
  <input [value]=disponibilidad.nombre_dia._id type="text" class="form-control" formControlName="nombre_dia" #nombre_dia [(ngModel)] = "disponibilidad.nombre_dia.nombre" disabled/>
  </div>
<div *ngIf="angForm.controls['nombre_dia'].invalid && (angForm.controls['nombre_dia'].dirty || angForm.controls['nombre_dia'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['nombre_dia'].errors.required">
Nombre_dia es requerido.
</div>
</div>
<div class="form-group">
  <label class="col-md-4">Laboratorio</label>
  <input [value]=disponibilidad.laboratorio._id type="text" class="form-control" formControlName="laboratorio" #laboratorio [(ngModel)] = "disponibilidad.laboratorio.nombre" disabled/>
  </div>
<div *ngIf="angForm.controls['laboratorio'].invalid && (angForm.controls['laboratorio'].dirty || angForm.controls['laboratorio'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['laboratorio'].errors.required">
Laboratorio es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Descripcion</label>
<input type="text" class="form-control" formControlName="descripcion" #descripcion [(ngModel)] = "disponibilidad.descripcion" disabled/>
</div>
<div *ngIf="angForm.controls['descripcion'].invalid && (angForm.controls['descripcion'].dirty || angForm.controls['descripcion'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['descripcion'].errors.required">
Descripcion es requerido.
</div>
</div>
<div class="form-group">
  <label class="col-md-4">Responsable</label>
  <select class="form-control" formControlName="responsable" #responsable >
  <option  [value]="persona._id" *ngFor="let persona of Persona" >{{persona.nombre}}</option>
  </select>
  </div>

<div *ngIf="angForm.controls['responsable'].invalid && (angForm.controls['responsable'].dirty || angForm.controls['responsable'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['responsable'].errors.required">
Responsable es requerido.
</div>
</div>
<div class="form-group">
    <button (click)="updateDisponibilidad(fecha.value, dia.value, nombre_dia.value, laboratorio.value, descripcion.value, responsable.value)"
    [disabled]="angForm.pristine || angForm.invalid"
    class="btn btn-primary"> Disponibilidad</button>
  </div>

    </form>
  </div>
</div>