<h1> <i class="far fa-eye"></i> Ver Laboratorio</h1>
<table datatable class="table table-striped table-responsive-md btn-table">
  <thead>
  <tr>
     <td>Nombre</td>
 <td>Estado</td>
 <td>Tipo</td>
 <td>Ubicacion</td>
 <td>Sede</td>

    <td >Acciones</td>
  </tr>
  </thead>

  <tbody>
     
           <tr *ngFor="let laboratorio of laboratorio">
<td>{{ laboratorio.nombre}}</td>
<td>{{ laboratorio.estado}}</td>
<td>{{ laboratorio.tipo}}</td>
<td>{{ laboratorio.ubicacion}}</td>
<td>{{ laboratorio.sede}}</td>
<td><a [routerLink]="['edit', laboratorio._id]" class="btn btn-primary"><i class="far fa-edit"></i></a>&nbsp;&nbsp;<a (click) = "deleteLaboratorio(laboratorio._id)" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
         
      </tr>
  </tbody>
</table>
