<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>

<body>

</body>


<nav class="navbar navbar-expand-sm bg-dark">
  <a  sidebarjsToggle class="btn btn-light"><img width="30" height="30"src="assets/img/lineas.png"></a>
  <h3 style="color:white;">  &nbsp; &nbsp; Laboratorio</h3>
 
</nav>



<sidebarjs-element (changeVisibility)="onEvent($event)" (open)="onEvent($event)" (close)="onEvent($event)">

  <a class="nav-link" href="/">Laboratorio</a>


   <div class="d-inline-block" ngbDropdown #myDroptipo="ngbDropdown">
<button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
(focus)="myDroptipo.open()">Tipo</button>
<div ngbDropdownMenu aria-labelledby="dropdownManual">
<a routerLink="tipo/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Crear Tipo
</a>
<a routerLink="tipo" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Ver Tipo
</a>
</div>
</div>
<div class="d-inline-block" ngbDropdown #myDropubicacion="ngbDropdown">
<button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
(focus)="myDropubicacion.open()">Ubicacion</button>
<div ngbDropdownMenu aria-labelledby="dropdownManual">
<a routerLink="ubicacion/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Crear Ubicacion
</a>
<a routerLink="ubicacion" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Ver Ubicacion
</a>
</div>
</div>
<div class="d-inline-block" ngbDropdown #myDropsede="ngbDropdown">
<button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
(focus)="myDropsede.open()">Sede</button>
<div ngbDropdownMenu aria-labelledby="dropdownManual">
<a routerLink="sede/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Crear Sede
</a>
<a routerLink="sede" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Ver Sede
</a>
</div>
</div>
<div class="d-inline-block" ngbDropdown #myDropdisponibilidad="ngbDropdown">
<button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
(focus)="myDropdisponibilidad.open()">Disponibilidad</button>
<div ngbDropdownMenu aria-labelledby="dropdownManual">
<a routerLink="disponibilidad/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Crear Disponibilidad
</a>
<a routerLink="disponibilidad" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Ver Disponibilidad
</a>
</div>
</div>
<div class="d-inline-block" ngbDropdown #myDroplaboratorio="ngbDropdown">
<button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
(focus)="myDroplaboratorio.open()">Laboratorio</button>
<div ngbDropdownMenu aria-labelledby="dropdownManual">
<a routerLink="laboratorio/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Crear Laboratorio
</a>
<a routerLink="laboratorio" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Ver Laboratorio
</a>
</div>
<a routerLink="calendario" class="nav-link" routerLinkActive="active" sidebarjsToggle>
  Ver disponibilidad
  </a>
</div>



  
    <p></p>

  <a><button class="btn btn-danger" sidebarjsToggle><img width="30" height="30"src="assets/img/close.png"></button></a>
</sidebarjs-element>



<br />
<div class="container">
  <router-outlet></router-outlet>
</div>