<h1> <i class="far fa-plus-square"></i> Crear Laboratorio</h1>
<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
     <div class="form-group">
<label class="col-md-4">Nombre</label>
<input type="text" class="form-control" formControlName="nombre" #nombre/>
</div>
<div *ngIf="angForm.controls['nombre'].invalid && (angForm.controls['nombre'].dirty || angForm.controls['nombre'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['nombre'].errors.required">
Nombre es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Estado</label>
<input type="text" class="form-control" formControlName="estado" #estado/>
</div>
<div *ngIf="angForm.controls['estado'].invalid && (angForm.controls['estado'].dirty || angForm.controls['estado'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['estado'].errors.required">
Estado es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Tipo</label>
<select class="form-control" formControlName="tipo" #tipo >
<option  [value]="tipo._id" *ngFor="let tipo of Tipo" >{{tipo.nombre}}</option>
</select>
</div>
<div *ngIf="angForm.controls['tipo'].invalid && (angForm.controls['tipo'].dirty || angForm.controls['tipo'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['tipo'].errors.required">
Tipo es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Ubicacion</label>
<select class="form-control" formControlName="ubicacion" #ubicacion >
<option  [value]="ubicacion._id" *ngFor="let ubicacion of Ubicacion" >{{ubicacion.nombre}}</option>
</select>
</div>
<div *ngIf="angForm.controls['ubicacion'].invalid && (angForm.controls['ubicacion'].dirty || angForm.controls['ubicacion'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['ubicacion'].errors.required">
Ubicacion es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Sede</label>
<select class="form-control" formControlName="sede" #sede >
<option  [value]="sede._id" *ngFor="let sede of Sede" >{{sede.nombre}}</option>
</select>
</div>
<div *ngIf="angForm.controls['sede'].invalid && (angForm.controls['sede'].dirty || angForm.controls['sede'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['sede'].errors.required">
Sede es requerido.
</div>
</div>
<div class="form-group">
    <button (click)="addLaboratorio(nombre.value, estado.value, tipo.value, ubicacion.value, sede.value)"
    [disabled]="angForm.pristine || angForm.invalid"
    class="btn btn-primary">Crear Laboratorio</button>
  </div>

    </form>
  </div>
</div>