@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css");
.font-roman{
    
    color: black;
    font-weight:600;
    font-size: 14px;
}
.background-blue-gradient{
  background-color: #007bff;
    border: 2px solid rgba(221, 221, 221, 0.068);
    color:black
}
.background-white-gradient{
    background-image: linear-gradient(to left, rgba(227, 236, 236,0), rgba(227, 236, 236, 0.7));
    border: 2px solid #ddd;
}
.background-green-gradient{
  background-image: linear-gradient(to left, rgba(25, 156, 16,0), rgba(25, 156, 16,0.7));

}
.background-india-gradient{
  background-image: linear-gradient(to right, rgb(255, 165, 0) ,rgb(255, 255, 255) ,rgb(26, 192, 26));
}
.selection-background{
    background-color: gray;
}

div.hover-class :hover { 
    background-color:rgb(191, 189, 216)
}

hr{
      border-top:1px solid rgba(0,0,0,0.3);
}

select {
      width:25%;
}



/* table styles */
table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
  }

  td{
    width:100%
  }

  /* 

GitHub - https://github.com/neerajlk

LinkedIn - https://www.linkedin.com/in/neeraj-kamat-06b073153/

Stackoverflow - https://stackoverflow.com/users/10276417/neeraj-kamat
  
  */
