<div class="container-fluid px-auto py-auto ">
    <div class="row mx-0 text-center w-100 selection-background font-weight-bold">
      <div class="col align-self-center align-middle mt-1">
        <h3 class="mb-0"><strong class="text-uppercase">Disponibilidad {{selectedYear}}</strong></h3>
      </div>
    </div>
    <hr class="my-2">
    <div class="row mx-0 text-center w-100 selection-background font-weight-bold">
      <div class="col align-self-center align-middle mt-2">
        <label class="px-2 text-bold">Select Year </label>
        <select [(ngModel)]="selectedYear" (ngModelChange)="getDaysByMonthAndYear()">
          <option *ngFor="let year of year" [ngValue]="year">{{year}}</option>
        </select>
      </div>
      <div class="col align-self-center align-middle mt-2">
        <label class="px-2 text-bold">Select Month </label>
        <select [(ngModel)]="selectedMonth" (ngModelChange)="getDaysByMonthAndYear()">
          <option *ngFor="let month of monthNumber" [ngValue]="month">{{months[month]}}</option>
        </select>
      </div>
    </div>
    <hr class="my-2">
    <div class="row mx-0 my-0 px-0 py-0 ml-auto">
  
      <div *ngFor="let day of dayInfo" (click)="getInfoOfTheDay(selectedYear,selectedMonth,day.day,day.yearDay)"
        class="col-2 mx-0 my-0 px-0 py-0 hover-class">
        <div *ngIf="day.isHoliday && day.weekday != 'Domingo'" class="background-blue-gradient"
          title="Clic para mayor información">
          {{day.day}}
          <br>
          ({{day.weekday}})
        </div>
        <div *ngIf="day.weekday == 'Domingo'" class="background-white-gradient text-danger"
          title="Clic para mayor información">
          {{day.day}} #
          <br>
          ({{day.weekday}})
        </div>
        <div *ngIf="!day.isHoliday && day.weekday != 'Domingo'" class="background-white-gradient"
          title="Clic para mayor información">
          {{day.day}}
          <br>
          ({{day.weekday}})
        </div>
      </div>
    </div>
    <hr class="my-1">
    <div class="row">
      <div class="col align-self-center align-middle">
        <span class="background-blue-gradient px-4"></span>
        <span class="px-2"> - </span>
        <label class="my-0">Disponibilidad</label>
      </div>
  
      <div class="col align-self-center align-middle">
        <span class="background-white-gradient text-danger px-3 my-0 align-middle">
          #
        </span>
        <span class="px-2"> - </span>
        <label class="my-0 text-danger">Domingo</label>
      </div>
      <div class="col align-self-center align-middle">
        <label class="my-0 text-right float-right">* Haga clic para maás información</label>
      </div>
    </div>
    <hr class="my-1">
    <div class="row mx-0 my-2 px-0 py-0 text-center" *ngFor="let info of holidayInfo">
      <div class="col-12 px-0 py-0">
        <table class="background-green-gradient ">
          <tr>
            <th>Fecha</th>
            <td><time> {{info.date}} </time>
              <a class="btn btn-danger float-right px-2 py-0 text-white" title="Clear" (click)="holidayInfo=[]">x</a>
            </td>
          </tr>
          <tr>
            <th>Dia</th>
            <td>{{info.day.nombre}}</td>
          </tr>
          <tr>
            <th>Laboratorio</th>
            <td>{{info.holiday.nombre}}</td>
          </tr>
          <tr>
            <th>Responsable</th>
            <td>{{info.description}}</td>
          </tr>
          <tr>
            <th>Reservar </th>
            <td> <a [routerLink]="['edit', info.id]" class="btn btn-primary"><i class="far fa-edit"></i></a></td>
          </tr>
        </table>
      </div>
    </div>
  
  
  </div>
 
  <!-- 
  GitHub - https://github.com/neerajlk
  
  LinkedIn - https://www.linkedin.com/in/neeraj-kamat-06b073153/
  
  Stackoverflow - https://stackoverflow.com/users/10276417/neeraj-kamat
   -->