<h1> <i class="far fa-eye"></i> Ver Tipo</h1>
<table datatable class="table table-striped table-responsive-md btn-table">
  <thead>
  <tr>
     <td>Nombre</td>
 <td>Descripcion</td>

    <td >Acciones</td>
  </tr>
  </thead>

  <tbody>
     
           <tr *ngFor="let tipo of tipo">
<td>{{ tipo.nombre}}</td>
<td>{{ tipo.descripcion}}</td>
<td><a [routerLink]="['edit', tipo._id]" class="btn btn-primary"><i class="far fa-edit"></i></a>&nbsp;&nbsp;<a (click) = "deleteTipo(tipo._id)" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
         
      </tr>
  </tbody>
</table>
