<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<h1>Bienvenido</h1>
<p>&nbsp;</p>

<a routerLink="tipo/create" routerLinkActive="active" class="btn btn-primary">
<i class="far fa-plus-square fa-7x"></i>
<h5 class="card-title">Crear Tipo</h5>
</a>
&nbsp;
<a routerLink="tipo" routerLinkActive="active" class="btn btn-success">
<i class="far fa-eye fa-7x"></i>
<h5 class="card-title">Ver Tipo</h5>
</a>
<p></p>
<a routerLink="ubicacion/create" routerLinkActive="active" class="btn btn-primary">
<i class="far fa-plus-square fa-7x"></i>
<h5 class="card-title">Crear Ubicacion</h5>
</a>
&nbsp;
<a routerLink="ubicacion" routerLinkActive="active" class="btn btn-success">
<i class="far fa-eye fa-7x"></i>
<h5 class="card-title">Ver Ubicacion</h5>
</a>
<p></p>
<a routerLink="sede/create" routerLinkActive="active" class="btn btn-primary">
<i class="far fa-plus-square fa-7x"></i>
<h5 class="card-title">Crear Sede</h5>
</a>
&nbsp;
<a routerLink="sede" routerLinkActive="active" class="btn btn-success">
<i class="far fa-eye fa-7x"></i>
<h5 class="card-title">Ver Sede</h5>
</a>
<p></p>
<a routerLink="laboratorio/create" routerLinkActive="active" class="btn btn-primary">
<i class="far fa-plus-square fa-7x"></i>
<h5 class="card-title">Crear Laboratorio</h5>
</a>
&nbsp;
<a routerLink="laboratorio" routerLinkActive="active" class="btn btn-success">
<i class="far fa-eye fa-7x"></i>
<h5 class="card-title">Ver Laboratorio</h5>
</a>
<p></p>
<a routerLink="disponibilidad/create" routerLinkActive="active" class="btn btn-primary">
<i class="far fa-plus-square fa-7x"></i>
<h5 class="card-title">Crear Disponibilidad</h5>
</a>
&nbsp;
<a routerLink="disponibilidad" routerLinkActive="active" class="btn btn-success">
<i class="far fa-eye fa-7x"></i>
<h5 class="card-title">Ver Disponibilidad</h5>
</a>
<p></p>
<a routerLink="nombre_dia/create" routerLinkActive="active" class="btn btn-primary">
<i class="far fa-plus-square fa-7x"></i>
<h5 class="card-title">Crear Nombre_dia</h5>
</a>
&nbsp;
<a routerLink="nombre_dia" routerLinkActive="active" class="btn btn-success">
<i class="far fa-eye fa-7x"></i>
<h5 class="card-title">Ver Nombre_dia</h5>
</a>
<p></p>

